/* Charlotte Baker CSCE 242 */
body {
    font-family: 'Raleway', sans-serif;
    background: rgb(169, 215, 189); 
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 12px;
    max-width: 1000px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #a94494;
    font-weight: 700;
    font-size: 48px;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: #3e4a61;
    font-size: 32px;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #4b4b4b;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #5b5b5b;
}

a {
    font-weight: bold;
    color: #6b8e8b;
    text-decoration: none;
}

a:hover {
    color: #a94494;
}
nav {
    position: absolute;
    top: 35px;
    left: 70px;
    color: white;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.assignment-box {
    background-color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    border: 2px solid #cfa0e8;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

.assignment-box:hover {
    transform: scale(1.03);
}

.assignment-box h4 {
    font-size: 24px;
    color: #a94494;
}

.assignment-box a {
    color: #a94494;
    font-size: 22px;
    text-decoration: none;
}

.assignment-box a:hover {
    color: #6b8e8b;
}
