body {
    background: azure;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    font-size: 20px;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    color: orchid;
    font-weight: bold;
    font-size: 60px;
}

h2 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 40px;
}

p{
    text-align: center;
    font-size: 20px;
}
