body {
    background: steelblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    color: orchid;
    font-weight: bold;
    font-size: 50px;
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-decoration: underline;
}

nav {
    position: absolute;
    top: 10px;
    left: 40px;
    color: white;
    font: 30px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.assignment-box {
    background-color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.assignment-box h4 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.assignment-box img {
    width: 300px;
    height: 150px;
    display: block;
    margin: 10px auto;
}

.assignment-box p {
    color: plum;
    font-size: medium;
}

a {
    text-decoration: none;
    color: plum;
}

a:hover {
    color: lightblue;
}
