

body, h1, h2, h3, p, img {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

header .container {
    background-color: black;
    padding: 20px;
    position:relative;
    width: 100%;
}

.container img {
    max-width: 40%;
}

nav .container {
    background-color:#73000A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}


nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav .container:hover {
background-color: #570008;
}

main .container {
    max-width:fit-content;
    margin-left: 40px;
    background-color: #73000A;
}


#top {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: white;
    margin-top: 0px;
}
#top img{
    position: relative;
    width: 1450px;
    height: 400px;
}

#about .container{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
   background-color: white;
   color: black;
   line-height: 45px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: medium;
}

#featured-research .container{
    background-color: #73000A;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

#featured-research img {
    max-height: 500px;
    margin-right: 20px;
    margin-left: 0px;
    margin-top: 0px;
}
.featured-text{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
}
.featured-texth {
    display: flex;
    flex-wrap: wrap;
    line-height: 60px;
    margin-bottom: 30px;
    color: white;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bolder;
   font-size: 40px;
}

.featured-textp {
    line-height: 45px;
    color: white;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bolder;
   font-size: large; 
}
#featured-research2 .container{
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

#featured-research2 img {
    max-height: 500px;
    margin-right: 20px;
    margin-left: 0px;
    margin-top: 0px;
}
.featured-text2{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
}
.featured-texth2 {
    display: flex;
    flex-wrap: wrap;
    line-height: 60px;
    margin-bottom: 30px;
    color: white;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bolder;
   font-size: 40px;
}

.featured-textp2 {
    line-height: 45px;
    color: white;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bolder;
   font-size: large; 
}

#achieving .container{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

#achieving img {
    max-height: 420px;
    margin-right: 20px;
    margin-left: 100px;
    margin-top: 0px;
}
.ach-text {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
}
.ach-texth {
    display: flex;
    flex-wrap: wrap;
    line-height: 60px;
    margin-bottom: 30px;
    color:#73000A;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bolder;
   font-size: 25px;
}

.ach-textp {
    line-height: 45px;
    color: black;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bolder;
   font-size: large; 
}

#spotlights .container {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding: 30px;
    align-items: center;
}
.box1 {
    margin: 30px;
    background-color: white;
    color: #73000A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box1 img {
    width:400px;
}
.box2 {
    margin: 30px;
    background-color: white;
    color: #73000A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box2 img {
    width:400px;
}
.box3 {
    margin: 30px;
    background-color: white;
    color: #73000A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box3 img {
    width:400px;
}
.box4 {
    margin: 30px;
    background-color: white;
    color: #73000A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box4 img {
    width:400px;
}

footer .container{
    background-color: #73000A;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 20px;
}
footer .container2{
    background-color: black;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding: 20px;
}

footer .container {
    padding: 10px;
}
